@page "/"

<PageTitle>Index</PageTitle>

<h1>Home</h1>
<br>

<p><b>Welcome to this app demo!</b></p>

<p>This is still a work in progress, but is currently a demo of list/ranking applet that persistently stores the list in the browser.</p>


